{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update_fruto/{{fruto.0}}" method="POST">
          <div class="form-group">
            <input type="text" name="nombreFruto" value="{{fruto.1}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Modificar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
