{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="col-md-5">
      {% with messages = get_flashed_messages()  %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="card">
        <div class="card-header">
          <h2>Agregar Planta:</h2>
        </div>
        <div class="card-body">
          <form action="{{url_for('add_planta')}}" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" name="nombrePlanta" placeholder="Nombre de la Planta">
            </div>
            <button class="btn btn-primary btn-block">
              Guardar
            </button>
          </form>
      </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card card-body">
        <table id="table" class="table table-striped table-hover table-bordered table-sm bg-white" >
          <thead>
            <tr>
              <td>ID</td>
              <td>Nombre de la Planta</td>
              <td>Acciones</td>
            </tr>
          </thead>
          <tbody>
            {% for planta in plantas %}
            <tr>
              <td>{{planta.0}}</td>
              <td>{{planta.1}}</td>
              <td>
                <a href="/edit_planta/{{planta.0}}" class="btn btn-secondary">editar</a>
                <a href="/delete_planta/{{planta.0}}" class="btn btn-danger btn-delete">eliminar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>  

{% endblock %}