{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="col-md-5">
      {% with messages = get_flashed_messages()  %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
<div class="card">
  <div class="card-header">
    <h2>Agregar Fruto:</h2>
  </div>
  <div class="card-body">
      <h3></h3>
    <form action="{{url_for('add_fruto')}}" method="POST">
      <div class="form-group">
        <input type="text" class="form-control" name="nombreFruto" placeholder="Nombre del Fruto">
      </div>
      <button class="btn btn-primary btn-block">
        Guardar
      </button>
    </form>
</div>
</div>
    </div>
    <div class="col-md-7">
      <table class="table table-striped table-hover table-bordered table-sm bg-white">
        <thead>
          <tr>
            <td>ID</td>
            <td>Nombre de fruto</td>
          </tr>
        </thead>
        <tbody>
          {% for fruto in frutos %}
          <tr>
            <td>{{fruto.0}}</td>
            <td>{{fruto.1}}</td>
            <td>
              <a href="/edit_fruto/{{fruto.0}}" class="btn btn-secondary">editar</a>
              <a href="/delete_fruto/{{fruto.0}}" class="btn btn-danger btn-delete">eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js" integrity="sha512-bUg5gaqBVaXIJNuebamJ6uex//mjxPk8kljQTdM1SwkNrQD7pjS+PerntUSD+QRWPNJ0tq54/x4zRV8bLrLhZg==" crossorigin="anonymous"></script>

{% endblock %}